.list-dish {
  position: relative;
  width: 100%;
  height: calc(100vh - 15em);
  overflow-y: scroll;
}

.dish-detail {
  position: relative;
  margin-bottom: 1.15em;
}

.dish-detail p {
  display: inline-block;
  position: relative;
  font-size: 1.25em;
}

.dish-detail img {
  width: 3.75em;
  height: 3.75em;
  margin-right: 1.25em;
  border-radius: 50%;
}

/*Modal for each dish*/
.modal-content .dish-detail p {
  font-size: 2em;
  line-height: 4em;
}

.modal-content .dish-detail img {
  width: 6.5em;
  height: 6.5em;
}

.modal-content .top-num {
  width: 30.5em;
}

.two-btn {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-bottom: 1.5em;
  padding-left: 8em;
  padding-right: 8em;
}

.two-btn img {
  width: 3em;
  height: 3em;
}

@media only screen and (max-width: 375px) {
  /*For Iphone 375x812*/
  .list-dish {
    height: calc(100vh - 13.5em);
  }

  .dish-detail {
    margin-bottom: 1em;
  }

  .dish-detail p {
    font-size: 1em;
  }

  .dish-detail img {
    width: 3.25em;
    height: 3.25em;
    margin-right: 1em;
    border-radius: 50%;
  }
}
