.container {
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-top: 2em;
  padding: 0;
  font-family: "OpenSansRegular";
}

.pika {
  padding-top: 1em;
  padding-left: 3.75em;
  padding-right: 3.75em;
}

.main {
  position: fixed;
}

h5.title {
  font-weight: 700;
  font-size: 1.75em;
  margin-bottom: 1.5em;
  padding: 0;
}

.back {
  display: contents;
  font-size: 1em;
  cursor: pointer;
}

.back:hover {
  text-decoration: underline;
}

.round-num {
  display: inline-block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background-color: white;
  border-radius: 50%;
}

.round-num p {
  font-size: 1.25em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

@media only screen and (max-width: 768px) {
  /*For Ipad 768x1024*/
  .container {
    margin: 0;
  }

  .main {
    display: block;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .back {
    display: block;
    font-size: 1.25em;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  /*For Ipad 768x1024*/
  .pika {
    margin: 0;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}
